@import "tailwindcss";
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My JavaScript App</title>
  </head>
  <body>
    <h1>Task Manager</h1>
    <button id="add-task">Add Task</button>
    <ul id="task-list"></ul>

    <script type="module" src="./src/main.js"></script>
  </body>
</html>